
<article id="bride">
  <h2 class="major">The Bride</h2>
  <span class="image main"><img src="assets/images/pic03.jpg" alt="Nadia"></span>
  <h3 class="major">By Groom</h3>
  <p class="description">
    One of the most selfless and strong person I’ve ever known. Highly tolerable, patient and a caring person. Always
    positive and know how to cheer people up with her charm. A firm believer that equality and respect are important
    fundamental in this world. Focusing on positivity and happiness.
  </p>
  <p class="description">
    Nadia is a very introvert person. She can be happy by just staying at home and always claimed that there are so many
    things to do at home which is somehow a good thing because you don’t have to make lots of efforts to make her happy
    (hehe joking). But unlike me, I can’t imagine how can you just sit at home for a long time without talking or
    meeting people? Hence, relating with her real character which is very quiet.
  </p>
  <p class="description">
    But she is a very strong person when she has to be. She knows when the situation and people surrounding need her,
    she can be the strongest person that you can imagine. Maybe not physically, but mentally she is and I’m proud of
    her. But of course I will do my best to be strong and take care of her as much as I could. People may see her as
    happy go lucky and a loud person. However in reality she is still happy go lucky, but more of the quiet one and she
    would listen more than do the talking itself. This is why it is always safe to tell any secret to Nadia.
  </p>
  <p class="description">
    She is also someone who keep her feelings to herself. Man I think it took us more than one year to finally make her
    open up to talk about herself with me. She just couldn’t express her feeling as she usually talked to her diaries.
  </p>
  <h3 class="major">By Bride</h3>
  <p class="description">
    Well okay this is kind of awkward having to write about yourself but here goes. Well I’m the second out of five
    siblings, I have a crazy older sister (though I’m crazier I’m sure, like I talk to myself and to objects as if they
    are human on a daily basis), a younger sister who’s less than a year apart, hence sometimes we are mistaken to be
    twins (mum used to dress us the same which didn’t help, and now we are getting married together so duhhh), an only
    baby brother (and will forever be my baby brother) and our youngest sister (who is always mistaken to be older than
    me because I’m younger looking, I know thank you (though honestly it’s just because I’m the smallest)).
  </p>
  <p class="description">
    Well I am a proud introvert like yasss to being at home reading (and when I read I would like go all out to finish
    it in a day but sometimes I need to stop for a few seconds and like hold my heart because either the story is too
    heartbreaking or too cheesy or whatever, because I’m reading it as if I’m living the story and whatever is conveyed,
    I felt it wholeheartedly as if it was me and it’s crazy and sometimes it just played with my heart, like there is
    one f an-fiction, well make it two, I took like more than two weeks to recover from it, like why do you have to
    dieeeeee?? So yeah that is me with reading), exercising (yes this is my new muse now especially running), listening
    to music (okay fine truth to be told K-pop, or to be more precise currently mostly BTS) and dancing (and like
    honestly as long as there’s good music I can dance anywhere without shame or act more to just grooving then actually
    dancing (honestly even without music playing, because there is always music playing in my head and I can dance to
    that)).
  </p>
  <p class="description">
    Though of course I enjoy few companies (family, cousins and friends) and usually when I’m with them, I kind of go
    introvert who? Especially when it comes to Sekolah Seri Puteri (SSP), my no 1 pride, I kind of like let my guard
    down and become really loud and all enthusiastic just like how I was in school even though honestly I think I only
    laughed and shouted most of the time instead of talking but owh well.
  </p>
  <p class="description">
    Talking about SSP, it is one of the most important leap in my life where someone from Sarawak flew to West Malaysia
    at the age of 13 (always felt like Harry Potter being called to Hogwarts) and was enrolled into SSP and boy that is
    the most beautiful moment of my life (it still is, no kidding). This is where I learned to be very enthusiastic and
    hype about almost everything (I discovered how much energy I have in me in being so supportive and cheering), but
    also the value of friendship, teamwork and just craziness (seriously there are so many memories that I would really
    want to relive, though one regret is that, why was I so skema back then, I wished I had break at least one rule to
    make it a bit more memorable). But anyway that was the best five years of my life, just love my spirit and love
    about everything - ORION, Emerald, cheerleading, KRS, I seriously can go on and on.
  </p>
  <p class="description">
    So yes I know I’m out of school for 9 years now, but I will never let the spirit die (Capt Emerald mode on, so I’m
    sorry future daughters you guys might be brainwashed from the start to have that SSP spirit). Alright, moving on,
    then I went to UNITEN for my prep to go to the States and well that’s where my life took a turn because this is
    where I met the love of my life (okay cringe, like seriously I need 3 mins to calm down from the cringeness to write
    this down), then it all went down to history.
  </p>
  <p class="description">
    I went to Drake University (Drake) to where he was and just let our story bloomed. Though in Drake is where I
    learned different kind of struggles and had different ups and downs but that’s where I finally get to find my true
    friends. So with all that said, here we are now. So I guess that’s enough about me. Thanks for reading I suppose.
    Cheers!
  </p>
</article>