
<article id="bridesmaids">
  <h2 class="major">Bridesmaids</h2>
  <h3 class="margin-bottom-medium">
    Our lovely girls.
  </h3>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img src="assets/images/wanie.jpg" alt="Wanie"></span>
      <h2 class="margin-zero">Wanie</h2>
      <h4>Paternal Cousin</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        Best cousin during primary school, we used to go to school together, and we rock that School of Rock too hard
        and I remember every morning she would narrate her dream. Out of us cousins (the ladies I mean) I would say
        Wanie is the most matured, well at least she could make decisions better compared to Leen and me (who are older,
        hahaha).
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        When I think of my childhood memories, Nadya will always be in them with me; the prominent presence in my
        journey to growing up through the games, the dances and all those times. Even now, when all our cousins are much
        older the games, the dances and all these times are precious to me.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/niesah.jpg" alt="Niesah"></span>
      <h2 class="margin-zero">Niesah</h2>
      <h4>Paternal Cousin</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        The youngest in our cousin group but with the most curious and unexpected questions, and someone who would
        always mix up our ages every time. But at least when it comes to food, she knows what she wants, making it
        easier for us to decide (or is it?). And I would say because both of us are the second child in our family with
        an older sister, we both are pretty similar in thinking and actions (a lil bit maybe), and both of us are
        bookworms.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Nadia is my elder cousin & neighbour that I grew up with. As a child, I remember her as an honest and obedient
        little girl with a strong will but is always considerate of others feelings. Growing up, she has matured into an
        enthusiastic, cheerful and kind-hearted 26 year old woman with a signature loud laugh. The sound of her laugh is
        directly proportionate to Nadia's level happiness and comfort. As an elder cousin, her successful academic
        achievements were a benchmark I had to catch up with and maintain. Nadia is a dreamer, not a fighter. She is
        sentimental, a worry wort and prefers comfort over style. Left to her own devices, Nadia fills her time with
        K-pop, running and planning. The Nadia I know is particular, extra, health-conscious and a good listener. Her
        avid imagination and passionate heart keeps me wondering and worrying what the future Nadia will get up to next.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/shasha.jpg" alt="Shasha"></span>
      <h2 class="margin-zero">Shasha</h2>
      <h4>Orion 0509</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        She’s almost like my twin because us being the second child made us have almost similar traits, hence
        understanding each other at a whole new level, thus its always easy telling her things, because we might go
        through the same thing or have the same view on things (& having someone back-up on your feelings is just
        amazing). But even with that similarity, we are still different where she is more of a practical person and me a
        theory person maybe.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        She is kind and humble.
        A good listener and a very accepting person. Hence, she does not judge people or a situation quickly.
        She is smart and a bookworm.
        She can also be loud, cheerful and very enthusiastic but at the same time, be shy and quiet.
        She is dedicated and disciplined.
        Most of all, she is mentally and emotionally strong.
        She is like my safe box.
        She is also like my very own Twitter.
        She is my bestfriend, my true friend.
        A very dear friend to me. &hearts;
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/bey.jpg" alt="Bey"></span>
      <h2 class="margin-zero">Bey</h2>
      <h4>Orion 0509</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        Bey is a lot of things to me, we got really close when we shared the same dorm in F3, and we could talk about
        anything, lots of things (mostly our body, dance, music and sometimes deeper stuff which is great because
        there’s not many that we could talk with on such deep topics).  She’s the most outspoken in our group and she’s
        my fave emo partner that I could ever ask for (we did go through this emo phase during high school).
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Nadia. She’s basically one of the most amazing people that I know. She has a beautiful mind, a kind heart and a
        fierce spirit that can shake the earth to its core. Although, with all that said, her humble nature always takes
        the upper hand. I’m glad we crossed paths, neddy. Truly.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/hanisah.jpg" alt="Hanisah"></span>
      <h2 class="margin-zero">Hanisah</h2>
      <h4>Drake</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        I wish we could be closer earlier on, like if we knew how things would turn out, I would have stuck by your side
        from earlier on, but then again maybe this is how fate has turned out for us. And at least however it is, we are
        brought together now, and you have helped me through the final year of Drake. She’s adorable and knowing her,
        she’s someone with a lot of expressions that lights me up, and for that I truly appreciate and love how we are
        together now (I mean together as in friends and close at that).
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Nadia is the MOST down-to-earth and carefree person I have ever known. She may look soft and sweet on the
        outside, but knowing her I think she’s hardcore af and can rule the world if she wants to! Among the four of us,
        (Sheikh and Nadia, me and my husband Syazwan), I befriended Sheikh first so I know how ruthless he can be.. But
        then Nadia came and I was AMAZED realizing that she’s the only who can tame him 😄 but they are both amazing
        friends in their own way, so together they’re definitely a match made from Heaven. Appreciate you guys for
        existing &hearts;
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/maien.jpg" alt="Maien"></span>
      <h2 class="margin-zero">Maien</h2>
      <h4>Orion 0509</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        Always the first person to respond on anything in the group and will always be the trip leader for our trips to
        anywhere. She’s as passionate as me on SSP, hence Im not alone in still standing by my high school, and its with
        her where I started my love for running.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        The soul that lives in her body is one in a million.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/intan.jpg" alt="Intan"></span>
      <h2 class="margin-zero">Intan</h2>
      <h4>Orion 0509</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        She’s the Mama of Orion 0509 but the baby in the group and yet she’s the first to get married. We may not be as
        tight as we are now when in school, but knowing her she’s strong yet soft, and honestly when she’s smiling and
        posing for a pic, I always get the ‘Perempuan Melayu Terakhir’ vibe. But she’s also funny, witty and creative
        (like sometimes I envy her handwriting, well act I envied many handwritings, you would know if you know how mine
        looks like).
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Neddy, you're a friend and a sister who I always treasure. You're a gem who's like no other. You cheer us all
        up, especially with your laughter. Your energy, your passion & your utter sincerity in friendship are really
        amazing and never fails to inspire.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/zern.jpg" alt="Zern"></span>
      <h2 class="margin-zero">Zern</h2>
      <h4>Orion 0509</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        My fellow ARMY, our mafia, someone who laughs at the most simple things. Though despite being the mafia, she’s a
        very caring person, always keeping in touch with people and always remembers to ask how they are doing.
        Especially when she knows something is up, she would diligently ask how the other person is doing everyday until
        things are truly fine, and this is amazing to me because it’s never easy to keep in touch with everyone.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        BTS!BTS!BTS 😍 yasssss 💃🏻 my fangirling mate finally will tie the knot with her soulmate 😱 as her friend,
        i’m happy for her but as her fangirlingmate, honestly i’m crying cause who will fangirl with me in the middle of
        the night, stay awake to see our favourite boy band BTS 😍 (dont worry Shafeeq, you are still no 1 in her
        heart) ☺ knowing her since high school, she's happy go lucky, energetic, the loudest, and kind, and obviously
        has high spirit for everything she's involved in 😁 (kena redha tetiba jalan dengan dia dekat mall tetiba dia
        dance sorg2) 😅 and neddy yang kite kenal sangatlah tak pandai say no to people 😂 please someone teach her! I
        dah give up  😂 LBNL, I love U neddy to the moon, sun, planet 143430 and back to the earth again of course 😘
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/ain-z.jpg" alt="Ain Z"></span>
      <h2 class="margin-zero">Ain Z</h2>
      <h4>Orion 0509 & Maternal Cousin</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        She’s was a friend first before knowing that she’s also a cousin. She, together with Zern, are the “mudah
        terhibur” gang, always laughing on small things. But she’s the most organised out of all us, as in she plans
        things in her life well, like she knows what she wants and knows when to have it, or at least that’s how I see
        her.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Neddy is:
        <ul>
          <li>a wonderful person</li>
          <li>kawan yg  tak berkira</li>
          <li>kawan yg sentiasa ada bila susah, bila senang</li>
          <li>Bila sakit ke, akan tlg jaga kita</li>
          <li>Sgt happy go lucky, gila2</li>
          <li>Someone who take care of all her friends</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/mizah.jpg" alt="Mizah"></span>
      <h2 class="margin-zero">Mizah</h2>
      <h4>Orion 0509</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        Our PRS of the group, once she starts giving her advice, expect long messages which I appreciate and always
        agree on. Also expect to have a clean table everytime you eat out with her because she would clean the whole
        table, making the work easier for the waiters.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Walking with Neddy in the dark is much better than walking alone in the light. Nothing else on earth to be
        prized than being with her.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/leen.jpg" alt="Leen"></span>
      <h2 class="margin-zero">Leen</h2>
      <h4>Paternal Cousin & Orion 0509</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        Having a cousin, the same batch in boarding school, is a true blessing. She’s like my go to for any problems,
        like I think I always invaded her with my problems during school (even now) but there she is always smiling and
        listening intently, and helped me through it all. (And we have this thing during school where we would exchange
        each other sappy, cheesy essays or just ideas that we wrote and squeal together due to the amount of cheesiness
        and all, its silly).
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Diah is like a vitamin. The one that can lift up the mood at any occasions and can “cure” problems for people
        around her. I’m lucky that we shared the same DNA (as in BTS DNA).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/kak-su.jpg" alt="Kak Su"></span>
      <h2 class="margin-zero">Kak Su</h2>
      <h4>Maternal Cousin</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        She’s quiet and we may not have much in common but what strikes me the most about her is that she’s always
        smiling and laughing when we are all together, especially when the boys are making silly jokes or remarks or
        just being silly as a whole.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Nadia seorang yang tegas tetapi ceria dan seorang yang mempunyai matlamat dalam hidup.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/a-a.jpg" alt="A'a"></span>
      <h2 class="margin-zero">A'a</h2>
      <h4>Maternal Cousin</h4>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        The Bridesmaid
      </h3>
      <p class="description">
        When we were younger, everytime we went to Nek Aji’s house, we would be in the same group together with Nafis
        and Lin. As far as I remember we were like two peas in a pod and one time during a camp that we attended, I
        always admired her confidence talking in front of a crowd, something I can never be better at.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        The Bride
      </h3>
      <p class="description">
        Nadia is my cousin. She is so humble & nice. She is also very easy-going & friendly. We rarely meet but when we
        get together we will spend time together with all the other cousins. Mostly our activities are laughing, talking
        and eating until we get tired 😂
      </p>
    </div>
  </div>
</article>
