
<article id="event">
  <h2 class="major">Event</h2>
  <h2>Bride's Side</h2>
  <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.8348033253037!2d101.64564581475733!3d3.1382939977148396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4911977c1fd5%3A0xb369bc5b94d00eac!2sSime+Darby+Convention+Centre%2C+1A%2C+Jalan+Bukit+Kiara+1%2C+Bukit+Kiara%2C+60000+Kuala+Lumpur%2C+Wilayah+Persekutuan+Kuala+Lumpur%2C+Malaysia!5e0!3m2!1sen!2sus!4v1522033493819" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <p>
    Date: &nbsp;&nbsp;&nbsp;&nbsp; <i>14 July 2018</i><br/>
    Time: &nbsp;&nbsp;&nbsp;&nbsp; <i>6.00pm</i><br/>
    Venue: &nbsp;&nbsp; <i><a href="https://goo.gl/maps/HNSHQA1RFx72" target="_blank">Sime Darby Convention Centre, 1A, Jalan Bukit Kiara, Bukit Kiara, 60000 Kuala Lumpur</a></i>
  </p>
  <h2>Groom's Side</h2>
  <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1410.9647277719034!2d101.58989221693453!3d3.1140294512295035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4e9fc61f3dab%3A0x28e5326f59a507f7!2sJalan+PJU+1a%2F41%2C+Taman+Putra+Damai%2C+47301+Petaling+Jaya%2C+Selangor%2C+Malaysia!5e0!3m2!1sen!2sus!4v1522033629605" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <p>
    Date: &nbsp;&nbsp;&nbsp;&nbsp; <i>21 July 2018</i><br/>
    Time: &nbsp;&nbsp;&nbsp;&nbsp; <i>6.00pm</i><br/>
    Venue: &nbsp;&nbsp; <i><a href="https://goo.gl/maps/kTaUSk75MSK2" target="_blank">Grand Pacific Hall, Evolve Concept Mall, Level 3, D-2-7, Jalan PJU 1A/4, Ara Damansara, 47301 Petaling Jaya</a></i>
  </p>
</article>
