
<article id="groomsmen">
  <h2 class="major">Groomsmen</h2>
  <h3 class="margin-bottom-medium">
    Meet the guys.
  </h3>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img src="assets/images/aidil.jpg" alt="Aidil"></span>
      <h2>Aidil</h2>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        By Groom
      </h3>
      <p class="description">
        Aidil is a funny guy who can just talk shit about anything to anyone. He has the ability to just click with
        anyone, even though it’s his first time meeting those people. When we talk, I can just be quiet and laugh to his
        exaggerations on things. A kind hearted person who always spares time to help his friends.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        By Groomsman
      </h3>
      <p class="description">
        I've known Sheikh for 9 years now and I have always known that our friendship will go the distance. I see the
        both of us as eccentric. But more than that, Sheikh has proven time and time again how he truly cares for the
        people close to him and will do what it takes to be there for them. I am grateful to be able to call him my
        friend. The beautiful part is, in the same time I’ve known Nadia, the both of them have always complemented each
        other. I truly believe that both Sheikh and Nadia bring out the best in each other and I wish them both the best
        in this amazing journey called marriage insyaAllah.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/iqbal.jpg" alt="Iqbal"></span>
      <h2>Iqbal</h2>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        By Groom
      </h3>
      <p class="description">
        A workaholic person who is serious most of the time. When asked for help, he is able to provide solutions with
        his own version of mind-maps, thanks to his hectic hours working as a management consultant.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        By Groomsman
      </h3>
      <p class="description">
        “Sheikh will stick with you through thick and thin. Evidence- He’s still a Liverpool fan despite the club not
        winning any trophy for years”
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/syazwan.jpg" alt="Syazwan"></span>
      <h2>Syazwan</h2>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        By Groom
      </h3>
      <p class="description">
        A cool natural leader that I’m very comfortable to talk to about life, relationships and views in politics. We
        got close during my final year back in States when we used to play PS4 and watch movies together at my place.
        And things got closer when he started his relationship with Hanisah, a good friend of mine whom now is his wife.
        We always spare time to catch up and have double dates.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        By Groomsman
      </h3>
      <p class="description">
        Sheikh antara seorang yang daripada seorang senior di universiti yang mulut keras sikit, dan yang akhirnya aku
        anggap sebagai darah daging sendiri. Sheikh sentiasa ada tatkala aku ada masalah sekecil-kecil seperti nak beli
        buku Econs sehingga sebesar-besar dalam memilih dua jalan yang berbeza. Sheikh yang banyak memberi nasihat dan
        tunjuk ajar dalam menentukan jalan kehidupan aku dari zaman Drake sehingga hari ini. Antara benda yang aku
        takkan lupakan pasal Sheikh adalah dia lah yang melobi agar aku membina rumah tangga bersama kekasih hatiku dan
        itulah antara keputusan maha-besar dan terbaik yang aku buat dalam hidup aku.<br><br>
        Tidak dilupakan juga kepada Nadia yang aku anggap sebagai kak long aku yang sentiasa memberi nasihat dan
        petunjuk (lembut sikit dari Sheikh). Nadia (dan Sheikh) tidak pernah sesekali menghukum aku dan Hanisah walau
        sebarai mana pun perangai kami.<br><br>
        Semoga perkahwinan dan rumah tangga kalian dipermudahkan dan diberkati-Nya.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/jabbar.jpg" alt="Jabbar"></span>
      <h2>Jabbar</h2>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        By Groom
      </h3>
      <p class="description">
        His facial expressions are enough to tell you how hilarious he is.  One of my closest friends in UNITEN when we
        used to hang out together. In fact, Jabbar is the person who was in the car with me the night when Nadia and I
        texted each other which resulted in bringing our relationship to one level closer. And he’s marrying Nadia’s
        schoolmate soon.<br><br>
        Jabbar is the person who was in the car with me when Nadia and I texted each other on a night in Jan 2011 which
        brought our relationship to the next level.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        By Groomsman
      </h3>
      <p class="description">
        “Sheikh Shafeeq is a great guy to be friends with. He tried so hard to seem like someone who doesn’t care about
        other people but in fact, he’s very thoughtful indeed. Nadia will be a very lucky person to have him as her
        significant other as I believe he will take very good care of you in this journey called marriage Insyaallah.”
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/wayne.jpg" alt="Wayne"></span>
      <h2>Wayne</h2>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        By Groom
      </h3>
      <p class="description">
        We only talked once when I was in EY and only became close during our secondment. A great team lead who always
        backed his team up whenever issues arised. Jokes a round a lot but can be very serious when it comes to work. We
        can just talk about everything especially when it comes to financial stuff. A good person to go to when I want
        to consult on career advancements.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        By Groomsman
      </h3>
      <p class="description">
        In a room full of people, you’ll see this special brown guy, who is hardworking, kind and honest. He is blessed
        with marrying Nadia; and hopefully in the years to come, he will be blessed again with pairs of ‘rezeki’
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/dzikri.jpg" alt="Dzikri"></span>
      <h2>Dzikri</h2>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        By Groom
      </h3>
      <p class="description">
        My classmate back in SASER. A guy who has his own stand and stays firm by it even though his opinion does not
        favor the majority. We know each other very well that even though we always argue on some matters, we never take
        it to heart because we are able to come into agreement for the betterment of things.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        By Groomsman
      </h3>
      <p class="description">
        Sheikh is meticulous, organized and very good with his finances. He is a good friend and cares about people more
        than people think he does. Nadia, you're in good hands. Congratulations.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u$(small)" style="width: 100%;">
      <span class="image main"><img data-src="assets/images/imran.jpg" alt="Imran"></span>
      <h2>Imran</h2>
    </div>
    <div class="6u 12u$(small)">
      <h3>
        By Groom
      </h3>
      <p class="description">
        A die hard Liverpool fan whom we used to stay up and watch football together in the common room during our
        school times. An influential midfield player who obtained a certificate as a referee besides having a team whom
        he is the manager. Another classmate back in SASER that can always make time for each other until today when
        needed help.
      </p>
    </div>
    <div class="6u$ 12u$(small)">
      <h3>
        By Groomsman
      </h3>
      <p class="description">
        Sheikh Shafeeq<br><br>
        How should i start? Hmm..yeah of course an enthusiast Liverpool supporter. When we were in SASER, Sheikh and few
        other friends Aiman Ros, Kirin & Emi, we are the companion so called die hard fans to watch Liverpool game.<br><br>
        As a person, Sheikh is a nice guy. We are very close and share lots of things especially on work & life
        experiences. He is very smart as well. Add Math is his piece of cake. Yeah everyone knows that. A good teacher
        to me and to others. An ambitious guy with clear goals that he wants to achieve.<br><br>
        Well my friend, I would like to wish you Selamat Pengantin Baru & Semoga Berbahagia Selalu. I’ll pray for your
        happiness & blessings in life. Can’t wait for this July.
      </p>
    </div>
  </div>
</article>
