
<article id="groom">
  <h2 class="major">The Groom</h2>
  <h3 class="major">By Bride</h3>
  <span class="image main"><img src="assets/images/groom-by-bride-1.jpg" alt="Groom By Bride 1"></span>
  <span class="image main"><img src="assets/images/groom-by-bride-2.jpg" alt="Groom By Bride 2"></span>
  <span class="image main"><img src="assets/images/groom-by-bride-3.jpg" alt="Groom By Bride 3"></span>
  <p class="description">
    Well writing about myself is awkward but writing about him made me kind of shy. But well where should I start? So
    it all started in UNITEN, where he loves to tease me especially with his antics of kamek kitak ketuk (because I’m
    Sarawakian) and I always replied with “It is kamek kitak ketuk la”, since it made more sense. Then it went to
    where he needed help with TOEFL (though there were others too) and to constantly texting.
  </p>
  <p class="description">
    Here he was so caring, always ensuring that I’ve eaten. Always taking care of me I suppose and he kind of always
    give advices that open up my eyes (because I’m so naive and gullible, sometimes still am but is so much better now,
    at least that’s what I like to think). Well he really opened up my heart by being really caring and loving to the
    point that I said if it’s him, then its okay (yes cringe, I know, but I seriously wrote that in my diary back in
    2010).
  </p>
  <p class="description">
    So fast forward to where we are now, he is seriously still loving and caring and such a sweetheart at times, and
    despite all the crazy things I’ve done, here he is still with me. Plus he really loves his family, like he always
    talk about the things he want to do for them and it’s just really amazing because well I haven’t reach to that
    level of thinking yet (I think about what I want to do in life instead of what can I do for my family, I guess it
    could be his first child syndrome trait, but still it’s amazing).
  </p>
  <p class="description">
    Apart from that, he is a great listener and is always ready to help a friend in need. Many of his friends would come to him and he will be there to listen and help them wherever needed. Sometimes he would go out of his way to help others, and that is something we have in common I suppose. We both would always want to try to help anyone in need as possible as we can. Other than that, he is so hardworking, like he really really worked hard for his goals, to be better, to do better, to strive better. Sometimes he worked too hard, he don’t know how to rest. I think I’m going all over the place now, so let’s conclude.
  </p>
  <p class="description">
    Other than that, he is so hardworking, like he really really worked hard for his goals, to be better, to do better,
    to strive better. Sometimes he worked too hard, he don’t know how to rest. Please rest sometime, will you? It’s okay
    to take a break at times. Really. Stopping for a day wouldn’t harm. Okay I think I’m going all over the place now,
    so let’s conclude.
  </p>
  <p class="description">
    I mean we do go through all the ups and downs of a relationship and no one is ever truly perfect, but all in all, he
    likes to tease me, he’s funny, he loves me despite how crazy I am (and I can go from happy crazy to emotional
    hormonal crazy in seconds), he cares for me, he would do anything for me and he truly makes me happy. Hence, here I
    am, all ready to officially be his.
  </p>
  <h3 class="major">By Groom</h3>
  <span class="image main"><img data-src="assets/images/groom-by-groom-1.jpg" alt="Groom By Groom 1"></span>
  <p class="description">
    It feels really weird to write this as I have never owned a diary in my life. However since this is a once in a lifetime experience
    for the happiest day of my life, I told Nadia “Okay, I’m down for this”. So to start, I’m going to be 26 years old
    this year. In fact, Nadia and I were born on the same month as our wedding month. I am the eldest out of three
    siblings with a brother and a sister who are currently studying in university.
  </p>
  <p class="description">
    Family has always been (and always will) be my priority and nothing can top that. Being the eldest in the family and
    having an age gap of 6 & 7 years apart with my siblings definitely sparked a higher sense of protectiveness and
    attention towards them in me.
  </p>
  <span class="image main"><img data-src="assets/images/groom-by-groom-2.jpg" alt="Groom By Groom 2"></span>
  <span class="image main"><img data-src="assets/images/groom-by-groom-3.jpg" alt="Groom By Groom 3"></span>
  <p class="description">
    Other than that, I value friendship very much. I enjoyed having several close friends back in school, but I truly
    learnt the value of friendship when I enrolled into SASER after PMR. Here, we went through the hustle and hardships
    together during our 2 years in school. They make me believe the saying “High school friends are your lifelong friends”.
    They are the ones who can just click, talk and laugh together even though you have not met them after some time.
    These are my closest circle that I will forever treasure.
  </p>
  <span class="image main"><img data-src="assets/images/groom-by-groom-4.jpg" alt="Groom By Groom 4"></span>
  <p class="description">
    Then I enrolled into UNITEN for my overseas prep and met a bunch of good friends and Nadia (I will describe more on
    our meeting in the next section). I pursued my study in Drake University (Drake) starting in August 2011 and was
    joined by Nadia a year later. I would say that I had a roller coaster journey here but it is a memorable one. Now
    that I am done with my studies, I started my career journey in EY and have been stuck here ever since.
  </p>
  <span class="image main"><img data-src="assets/images/groom-by-groom-5.jpg" alt="Groom By Groom 5"></span>
  <span class="image main"><img data-src="assets/images/groom-by-groom-6.jpg" alt="Groom By Groom 6"></span>
  <p class="description">
    I am a huge football fan and Liverpool is my favourite team. Currently, I am trying to keep up with a healthy
    lifestyle. Well it’s because I gained 25 kg in a span of 4 years during my time in Drake (yes I know it’s crazy,
    that is why i need to be super dedicated in keeping up with a healthy lifestyle). It is a good thing that Nadia is
    also together with me in this journey to be healthier.
  </p>
  <span class="image main"><img data-src="assets/images/groom-by-groom-7.jpg" alt="Groom By Groom 7"></span>
  <span class="image main"><img data-src="assets/images/groom-by-groom-8.jpg" alt="Groom By Groom 8"></span>
  <span class="image main"><img data-src="assets/images/groom-by-groom-9.jpg" alt="Groom By Groom 9"></span>
</article>