
<article id="groomsmen">
  <h2 class="major">Groomsmen</h2>
  <h3 class="margin-bottom-medium">
    Meet the guys.
  </h3>
  <div class="row">
    <div class="6u 12u$(small)">
      <h3 class="margin-zero">
        Crow Skala
      </h3>
      <p class="description">
        <strong>Maid of Honor</strong><br/>
        Rebecca's little sister born in 1994, spawning Rebecca's love of babies.
        Enjoys: playing video games and binge watching TV shows on Netflix.
        Please use they/them/their pronouns.
      </p>
    </div>
    <div class="6u$ 12u$(small) important(medium)">
      <span class="image main margin-zero"><img src="assets/images/nikah.jpg" alt=""></span>
    </div>
  </div>
  <div class="row">
    <div class="6u 12u$(small)">
      <h3 class="margin-zero">
        Amy Murray
      </h3>
      <p class="description">
        <strong>Matron of Honor</strong><br/>
        Met Rebecca in college in 2008. Enjoys: long romantic walks to Taco Bell, quoting "Friends" and drinking coffee.
        Amy has two sons, one of whom is performing ring bearer duties!
      </p>
    </div>
    <div class="6u$ 12u$(small) important(medium)">
      <span class="image main margin-zero"><img src="assets/images/nikah.jpg" alt=""></span>
    </div>
  </div>
  <div class="row">
    <div class="6u 12u$(small)">
      <h3 class="margin-zero">
        Anne McCool
      </h3>
      <p class="description">
        <strong>Bridesmaid</strong><br/>
        Met Scott pre-1991 in the womb and they have been twins ever since. Anne was present the night Scott met
        Rebecca. Enjoys: cats, cats and more cats. Scott was Best Man in Anne's wedding in 2015.
      </p>
    </div>
    <div class="6u$ 12u$(small) important(medium)">
      <span class="image main margin-zero"><img src="assets/images/reception.jpg" alt=""></span>
    </div>
  </div>
  <div class="row">
    <div class="6u 12u$(small)">
      <h3 class="margin-zero">
        Sarah Peck
      </h3>
      <p class="description">
        <strong>Bridesmaid</strong><br/>
        Met Rebecca in 2010 when they bonded over yelling at her brother, Jeff Tupper. Enjoys: taking historic day
        trips, typically involving Abe Lincoln. Rebecca was a Bridesmaid in Sarah's wedding in 2014.
      </p>
    </div>
    <div class="6u$ 12u$(small) important(medium)">
      <span class="image main margin-zero"><img src="assets/images/brunch.jpg" alt=""></span>
    </div>
  </div>
</article>
