<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon fa-heart"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>{{ site.title }}</h1>
					<p>{{ site.description }}</p>
				</div>
			</div>
			<nav>
				<ul>
          <li><a href="#about">About</a></li>
          <li><a href="#story">Story</a></li>
          <li><a href="#event">Event</a></li>
          <li><a href="#rsvp">RSVP</a></li>
          <li><a href="#photos">Photos</a></li>
          <li><a href="#guestbook" class="guestbook-button">Guestbook</a></li>
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">

