<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon {{ site.icon }}"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>{{ site.title }}</h1>
					<p>{{ site.description }}</p>
				</div>
			</div>
			<nav>
				<ul>
          <li><a href="#about">About</a></li>
          <li><a href="#intro">Intro</a></li>
          <li><a href="#story">Story</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">
