

<article id="story">
  <h2 class="major">Story</h2>
  <h3>Here's our story.</h3>
  <div class="timeline-container" id="timeline-1">
    <div class="timeline">
      <div class="timeline-item" data-text="THE INTRODUCTION">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/story-1.jpg"/>
          <h3 class="timeline__content-title">
            Jun 2010
          </h3>
          <p class="timeline__content-desc">
            The first time we met. Our first introduction was “Have you been to London?” where Shafeeq asked in one of
            our activities during orientation. Since then, Shafeeq has been teasing Nadia non-stop which annoyed her a
            lot.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="MAKING PROGRESS">
        <div class="timeline__content">
          <img class="timeline__img" data-src="assets/images/story-2.jpg"/>
          <h3 class="timeline__content-title">
            Dec 2010
          </h3>
          <p class="timeline__content-desc">
            We became close when we helped each other a lot in academic and all the other stuff.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="LEARNING PHASE">
        <div class="timeline__content">
          <img class="timeline__img" data-src="assets/images/story-3.jpg"/>
          <h3 class="timeline__content-title">
            Jan 2011
          </h3>
          <p class="timeline__content-desc">
            It was the start of something new. We began to know more about each other.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="STUDY ABROAD">
        <div class="timeline__content">
          <img class="timeline__img" data-src="assets/images/story-4.jpg"/>
          <h3 class="timeline__content-title">
            Aug 2012
          </h3>
          <p class="timeline__content-desc">
            Nadia came to Drake University and enrolled in same university as Shafeeq.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="GRADUATION">
        <div class="timeline__content">
          <img class="timeline__img" data-src="assets/images/story-5.jpg"/>
          <h3 class="timeline__content-title">
            May 2015
          </h3>
          <p class="timeline__content-desc">
            We successfully graduated from Drake University with both families were present for the memorable occasion.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="MEET THE PARENTS">
        <div class="timeline__content">
          <img class="timeline__img" data-src="assets/images/story-6.jpg"/>
          <h3 class="timeline__content-title">
            Jan 2017
          </h3>
          <p class="timeline__content-desc">
            Shafeeq met Nadia’s parents and expressed his intention for their daughter’s hand in marriage.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="MERISIK">
        <div class="timeline__content">
          <img class="timeline__img" data-src="assets/images/story-7.jpg"/>
          <h3 class="timeline__content-title">
            Oct 2017
          </h3>
          <p class="timeline__content-desc">
            Shafeeq and his family came ‘merisik’. Discussion was done and date of nikah and reception were set on that
            day.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="THE BIG DAY">
        <div class="timeline__content">
          <img class="timeline__img" data-src="assets/images/story-8.jpg"/>
          <h3 class="timeline__content-title">
            Jul 2017
          </h3>
          <p class="timeline__content-desc">
            We will be getting married InsyaAllah.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
