

<article id="story">
  <h2 class="major">Story</h2>
  <h3>Here's our story.</h3>
  <div class="timeline-container" id="timeline-1">
    <div class="timeline">
      <div class="timeline-item" data-text="THE INTRODUCTION">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/nikah.jpg"/>
          <h3 class="timeline__content-title">
            Jun 2010
          </h3>
          <p class="timeline__content-desc">
            The first time they meet. Shafeeq has been teasing Nadia non-stop which annoys her a lot. Our first
            introduction was “Have you been to London?” where he asked in one of our activities during orientation, then
            it was the call me Shafeeq and call me Neddy ice-breaking.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="HOW I MET YOUR MOTHER">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/reception.jpg"/>
          <h3 class="timeline__content-title">
            Dec 2010
          </h3>
          <p class="timeline__content-desc">
            They become close when they helped each other a lot in academic and stuff. If it’s Shafeeq, then it’s okay
            (told you it seriously is written in my diary).
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="THE PARENT TRAP">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/brunch.jpg"/>
          <h3 class="timeline__content-title">
            Jan 2011
          </h3>
          <p class="timeline__content-desc">
            They began to know more about each other. Why did I do it again? Me saying I like you first. But then again
            he was being really really sweet and was talking about how we should always let our parents know where we
            are even though currently we are not living under their roof (in the dorm at the time), so that they are
            always aware of our whereabouts. You know because when you are in uni, you don’t bother telling your parents
            where you go but he did. Thus, the start of our relationship.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="THE PARENT TRAP">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/brunch.jpg"/>
          <h3 class="timeline__content-title">
            Aug 2012
          </h3>
          <p class="timeline__content-desc">
            Nadia came to Drake University and enrolled in same university as Shafeeq.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="THE PARENT TRAP">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/brunch.jpg"/>
          <h3 class="timeline__content-title">
            May 2015
          </h3>
          <p class="timeline__content-desc">
            Shafeeq and Nadia successfully graduated from Drake University with both parents were present for the
            commencement. Yeayy graduation. Now to the next step in life, together.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="THE PARENT TRAP">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/brunch.jpg"/>
          <h3 class="timeline__content-title">
            Jan 2017
          </h3>
          <p class="timeline__content-desc">
            Shafeeq met Nadia’s parents and expressed intention for their daughter’s hand in marriage. Okay like he was
            so nervous during our date and I was just teasing him because it is just meeting the parents to say hi.
            Little that I know he was planning to ask my hand in marriage and I quickly went to mind-blown, panicky and
            heart exploding, like I had to hold my heart way to many times because it was beating erratically, as if I’m
            reading a very cheesy or heart-wrenching scene.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="THE PARENT TRAP">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/brunch.jpg"/>
          <h3 class="timeline__content-title">
            May 2017
          </h3>
          <p class="timeline__content-desc">
            Both parents met to make initial discussion on marriage.
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="THE PARENT TRAP">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/brunch.jpg"/>
          <h3 class="timeline__content-title">
            Oct 2017
          </h3>
          <p class="timeline__content-desc">
            Shafeeq and his family came for a ‘merisik’. Discussion made and date was set on that day. Finally, he put a
            ring on it. 'Cause if you like it then you should have put a ring on it, If you like it then you should've
            put a ring on it, Don't be mad once you see that he want it, If you like it then you should've put a ring on
            it, Wuh uh oh uh uh oh oh uh oh uh uh oh, Wuh uh oh uh uh oh oh uh oh uh uh oh (Beyonce mode on)
          </p>
        </div>
      </div>
      <div class="timeline-item" data-text="THE PARENT TRAP">
        <div class="timeline__content">
          <img class="timeline__img" src="assets/images/brunch.jpg"/>
          <h3 class="timeline__content-title">
            Jul 2018
          </h3>
          <p class="timeline__content-desc">
            Shafeeq and Nadia will be getting married InsyaAllah. Like Yasss but wow like whattt, like after so long,
            finally finally we will be husband and wife, til the end of time.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
